.about {
  background: url("/images/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6em 0 2em 0;
}
.about-container {
  display: flex;
  flex-direction: column;
  grid-gap: 3em;
}
.about-container .h1 {
  line-height: 1;
  margin: 0;
  padding: 0;
}
.about-description {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5em;
}
.about-info {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  align-items: center;
}
.about-info-heading {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 1em;
}
@media (min-width: 600px) {
  .about-info {
    flex-direction: row;
  }
  .about-info-heading {
    font-size: 0.875em;
  }
}
/* @media (min-width: 800px) {
  .about {
    padding: 6em 0 4em 0;
  }
}
@media (min-width: 1140px) {
  .about {
    padding: 10em 0 6em 0;
  }
} */

.commitments {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1.5em;
}
.commitments img {
  width: 1.4em;
}
@media (min-width: 800px) {
  .commitments {
    padding-bottom: 8em;
  }
}

.experience {
  background: var(--dark);
  color: var(--bright);
  padding: 4em 0;
}
.experience-info {
  display: flex;
  flex-direction: column;
  grid-gap: 2.5em;
}
.our-team-heading {
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 0.5em;
}
@media (min-width: 800px) {
  .experience {
    padding: 10rem 0 6em 0;
  }
}
@media (min-width: 1140px) {
  .experience {
    padding: 12rem 0 8em 0;
  }
}

.our-team {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  grid-gap: 2.25em;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.75em;
}
.team-member a {
  text-decoration: none;
  color: var(--accent);
}
.team-member a:hover {
  color: var(--accent-light);
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
}
.callout {
  border: 1px solid var(--accent);
  padding: 2em;
}
.callout h3 {
  line-height: 1.2;
  margin-bottom: 1em;
}
@media (min-width: 800px) {
  .our-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 3em 2em;
  }
  .team-member {
    width: 45%;
  }
}
@media (min-width: 1140px) {
  .our-team {
    justify-content: flex-start;
    grid-gap: 4em;
  }
  .team-member {
    width: 29%;
  }
}

.partnership {
  background: url("/images/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  padding: 6em 0;
}
.partnership-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .partnership {
    padding: 9em 0;
  }
}
@media (min-width: 800px) {
  .partnership {
    padding: 12em 0;
  }
}
