.services {
  background: url("/images/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
}
.services-container {
  display: flex;
  flex-direction: column;
  grid-gap: 2.5em;
  padding-top: 6em;
  padding-bottom: 6em;
}

.security-section {
  padding: 4em 0 8em 0;
  background: var(--dark);
  color: var(--bright);
}
.security-section-intro {
  display: flex;
  flex-direction: column;
  grid-gap: 1.75em;
}
.security-columns {
  max-width: 640px;
  margin-top: 3.5em;
  /* display: flex;
  flex-wrap: wrap;
  grid-gap: 1em; */
}
.security-column {
  margin: 0 auto 2.5em auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  grid-gap: 0.75em;
}
.security-column h4 {
  color: var(--accent-light);
}
.security-column ul {
  margin-left: 1em;
  list-style: disc;
  line-height: 1.5;
}
.security-section-footer {
  text-align: center;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  grid-gap: 3em;
}
.security-section-footer a {
  color: var(--accent);
}
@media (min-width: 800px) {
  .security-columns {
    display: flex;
    justify-content: space-between;
    max-width: 954px;
    grid-gap: 2em;
    margin-top: 4.5em;
  }
  .security-column {
    max-width: none;
  }
  .security-section-footer {
    margin: 4em auto;
  }
}
@media (min-width: 1240px) {
  .security-columns {
    max-width: 1200px;
    grid-gap: 3em;
  }
}

.cyber-security {
  background: var(--bright);
  color: var(--dark);
  position: relative;
  padding: 8em 0 4em 0;
}
.cyber-security .security-column h4 {
  color: var(--dark);
}
.intersection-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intersection-image,
.intersection-image img {
  width: 100%;
}
@media (min-width: 800px) {
  .cyber-security {
    padding: 12em 0 8em 0;
  }
}

.audience {
  margin-top: 6em;
}
.audience-image img {
  display: block;
}
.audience-content {
  background: #ebeef0;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
}
.chevron {
  width: 1.4em;
}
.audience-content h2 {
  color: var(--accent);
  font-weight: 600;
}
.audience-columns {
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
}
.audience-column h4 {
  font-weight: 300;
}
.audience-column h4:first-child {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent);
}
.bordered-link {
  text-align: center;
  border-top: 1px solid var(--dark);
  padding: 3em 0;
  margin: 1em 0;
}
.bordered-link a {
  color: var(--accent);
}
@media (min-width: 800px) {
  .audience {
    margin-top: 8em;
  }
  .chevron {
    width: 1.8em;
  }
  .audience-columns {
    flex-direction: row;
    justify-content: space-between;
  }
  .audience-column {
    width: 48%;
  }
  .audience-column h4 {
    margin-bottom: 0.75em;
  }
}
@media (min-width: 1140px) {
  .audience {
    margin-top: 10em;
  }
  .chevron {
    width: 2.2em;
  }
}

.page-template-services .commitments,
.services-page .commitments {
  text-align: center;
  padding: 6em 0 2em 0;
  text-transform: uppercase;
}
.page-template-services .icon-boxes,
.services-page .icon-boxes {
  padding: 0 1em;
}
@media (min-width: 800px) {
  .page-template-services .icon-boxes,
  .services-page .icon-boxes {
    top: 100%;
    padding: 0;
  }
  .page-template-services .cta,
  .services-page .cta {
    padding-top: 12em;
  }
}
@media (min-width: 1140px) {
  .page-template-services .cta,
  .services-page .cta {
    padding-top: 16em;
    padding-bottom: 12em;
  }
}
